<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.AttentionMapper">
<!--    ResponseData<Integer> attention(Attention attention);-->
<insert id="attention" parameterType="com.example.demo.bean.Attention">
    insert into t_attention values (#{attentionId},#{uId},#{userId},#{attentionTime},0)
</insert>
</mapper>