<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.DynamicMapper">
    <!--    新增动态-->
    <!--     ResponseData<Integer> ReleaseNews(Dynamic dynamic);-->
    <insert id="releaseNews" parameterType="com.example.demo.bean.Dynamic">
        insert into t_dynamic values (#{dId},#{title},#{content},#{releaseTime},#{status},#{sortId},#{userId},#{imgUrl})
    </insert>
    <!--  查询个人动态
        List<Dynamic> myDynamic(String id);-->
    <select id="myDynamic" resultType="com.example.demo.bean.DynamicAndSort">
        SELECT
	*
FROM
	t_dynamic,
	t_sort
WHERE
	t_dynamic.user_id = #{id}
	AND t_dynamic.sort_id = t_sort.sort_id and t_dynamic.status = 0
    </select>
    <!--     删除本人动态假删除
        int deleteDynamic(String id);-->
    <update id="deleteDynamic">
            UPDATE t_dynamic
            SET STATUS = 1
            WHERE
	        d_id = #{id}
    </update>
<!--    //    按照分类查询10分钟内的最新动态
    ResponseData<List<DynamicAndSort>> newDynamic(String sortId, int minute);-->
    <select id="newDynamic" resultType="com.example.demo.bean.DynamicAndSort">
        SELECT * FROM t_dynamic,t_sort WHERE release_time > DATE_SUB(NOW(), INTERVAL #{minute} MINUTE)AND t_dynamic.sort_id = t_sort.sort_id and t_dynamic.sort_id = #{sortId} and t_dynamic.status = 0
    </select>
<!--     //按照分类id查询动态并从大到小输出
    ResponseData<List<DynamicAndSort>> hotDynamic(String sortId);-->
    <select id="hotDynamic" resultType="com.example.demo.bean.DynamicAndSort">
        SELECT
            *
        FROM
            t_dynamic
                LEFT JOIN ( SELECT count( t_like.likeperson_id ) likecount, t_like.likeperson_id FROM t_like GROUP BY t_like.likeperson_id ) a ON t_dynamic.d_id = a.likeperson_id WHERE t_dynamic.sort_id = #{sortId} and t_dynamic.status = 0
        ORDER BY
            a.likecount DESC
    </select>
<!--        //    按照分类模糊查询（标题）动态
    ResponseData<List<DynamicAndSort>> likeKeyDynamic(String keyWords);-->
    <select id="likeKeyDynamic" resultType="com.example.demo.bean.DynamicAndSort">
        SELECT * FROM t_dynamic,t_sort WHERE  t_dynamic.sort_id = t_sort.sort_id and content like '%${keyWords}%' OR title like '%${keyWords}%' and t_dynamic.status = 0
    </select>
<!--        ResponseData<List<Dynamic>> getAllDynamic() ;-->
    <select id="getAllDynamic" resultType="com.example.demo.bean.DynamicAndUser">
        select * from t_dynamic LEFT JOIN t_user ON t_dynamic.user_id = t_user.id where t_dynamic.status = 0
    </select>
<!--     ResponseData<List<DynamicAndUser>> getDynamicById(String dId);-->
    <select id="getDynamicById" resultType="com.example.demo.bean.DynamicAndUser">
        select * from t_dynamic LEFT JOIN t_user ON t_dynamic.user_id = t_user.id where t_dynamic.d_id = #{dId} and t_dynamic.status = 0
    </select>
</mapper>