<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">
    <!--     public void addUser(User user);-->
<!--    注册-->
    <insert id="addUser" parameterType="com.example.demo.bean.User">
        insert into t_user values
        (#{id},#{uName},#{uPassword},#{uUrl},#{uGender},#{profile},#{addtime},#{correcttime},#{status},#{isuse})
    </insert>
    <!--    查询用户名是否重复-->
    <!--    User findUsername(String username);-->
    <select id="findUsername" resultType="com.example.demo.bean.User">
        select * from t_user where u_name=#{username} and status = 0
    </select>
    <!--    登录-->
    <!--    User findByUsername(User user);-->
    <select id="login" resultType="com.example.demo.bean.User">
        select * from t_user where u_name=#{username} and u_password=#{password}
    </select>
    <!--    查询全部有效用户
         ResponseData<List<User>> validUser();-->
    <select id="validUser" resultType="com.example.demo.bean.User">
        select * from t_user where isuse = 0 and status = 0
    </select>
    <!--    删除用户 通过用户名删除用户(假删除)
        ResponseData<User> deleteUser(String username,String password);-->
    <update id="deleteUser">
        update t_user set status=1 where u_name=#{username} and u_password=#{password}
    </update>
    <!-- 更改用户名
    ResponseData<Integer> changeMessage(User user,String newUsername);-->
    <update id="changeMessage">
       UPDATE
        t_user
        SET
        u_name = #{newUsername},
        correcttime = #{correcttime}
        WHERE
	    id = #{id} and status = 0
    </update>
<!--       ResponseData<Integer> changeMessage(User user,String newUsername);
    //    8.修改头像（url）-》更新修改时间
    ResponseData<Integer> changeUrl(User user,String newUrl);
    //9.修改个人简介-》更新修改时间
    ResponseData<Integer> changeProfile(User user,String newProfile);
    //    10.修改性别-》更新修改时间
    ResponseData<Integer> changeGender(User user,String newGender);-->
    <update id="changeUrl">
       UPDATE
        t_user
        SET
        u_url = #{newUrl},
        correcttime = #{correcttime}
        WHERE
	    id = #{id} and status = 0
    </update>
    <update id="changeProfile">
       UPDATE
        t_user
        SET
        profile = #{newProfile},
        correcttime = #{correcttime}
        WHERE
	    id = #{id} and status = 0
    </update>
    <update id="changeGender">
       UPDATE
        t_user
        SET
        u_gender = #{newGender},
        correcttime = #{correcttime}
        WHERE
	    id = #{id} and status = 0
    </update>


    <!--
    修改密码通过id和账户名密码修改
     int changPassword(@Param("user") User user,@Param("newPassword") String newPassword);-->
    <update id="changePassword">
        UPDATE
        t_user
        SET
          u_password = #{newPassword},
          correcttime = #{correcttime}
        WHERE
	    u_name = #{uName} and u_password = #{uPassword} and status = 0
</update>

</mapper>